<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <!--<link rel="stylesheet" href="/stylesheets/"/>-->
    <title>cita模拟测试界面</title>
</head>
<body>
<!--确实要好好学习一下，ejs模版语言引擎了，值得学习-->
<div>
    <h1>cita模拟交易测试</h1>
    <div>

    </div>

</div>

</body>
</html>